
.navbar-container {
  bottom: 0px;
  width: 100%;
  position: fixed;
  margin-bottom: 1rem;
  display: flex;
  display: -ms-flexbox;
  z-index: 1000;
  justify-content: center;
  -webkit-justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ul-container {
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border-radius: .25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 300px;
}

.link {
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;

  &:hover {
    color: #2121db;
  }
}
